* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url("./resources/bg-food.jpg");
  background-repeat: repeat-x;
  background-size: auto 140px;
  background-position: top;
  top: -50px;
  padding-top: 10px;
}

main {
  margin-top: 170px;
}

h1 {
  font-size: 24px;
}


.container {
  max-width: 600px;
  margin-left: 40px;
}

.error-message {
    color: #930008;
}

.hidden {
  display: none;
}

.link {
  padding: 0px;
  font-size: 16px;
  text-decoration: underline;
  border: none;
  background-color: none;
  color: blue;

}

img {
  display: inline-block;
  margin-right: 20px;
  margin-top: 40px;
}

form {
  display: grid;
  grid-gap: 5px;
}

label {
  font-size: 16px;
}

input {
  border-radius: 4px;
  padding: 8px 16px;
  width: 300px;
  font-size: 16px;
}

input[type=submit] {
  background: #DAA520;
  border: 2px solid #DAA520;
  box-shadow: 0px 2px 3px 0px rgba(196, 148, 28, .5);
  width: 250px;
  border-radius: 4px;
  padding: 8px 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=submit]:hover {
  cursor: pointer;
}

li {
  padding-top: 10px;
  margin-left: 4px;
}

ion-icon {
  padding-right: 3px;
}


/*---css for tablets---*/
@media only screen and (min-width: 500px) {

  input {
    width: 425px;
  }

  h1 {
    font-size: 29px;
  }

  label, input, .link {
    font-size: 20px;
  }


}


/*-----css for laptops-----*/
@media only screen and (min-width: 834px) {
}
