* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url("./resources/restaurant.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 20px 10px;

}

header {
  text-align: center;
  border-radius: 6px 6px 0 0;
  padding: 30px;
}

main {
  border-radius: 0 0 6px 6px;
  /* padding-right: 15px; */
  /* padding-left: 0px; */
}

.container {
min-width: 325px;
background-color: rgba(255, 255, 255, .9);
padding: 30px;
}

h1 {
  font-size: 24px;
  margin: 0;
}

img {
  display: inline-block;
  margin-right: 20px;
  margin-top: 40px;
}

img:first-child {
  margin-top: 20px;
}

fieldset {
  border: none;
  display: grid;
  margin: auto;
  max-width: 700px;
  padding: 0;
}

label {
  font-size: 16px;
  padding-top: 8px;
  margin-left: 2px;
}

input {
  border-radius: 4px;
  padding: 8px 16px;
  margin: 8px 0px 22px 0;
  width: 100%;
  font-size: 16px;
}

input[type=submit] {
  background: rgb(7, 48, 207);
  border: 2px solid rgb(7, 48 207);
  box-shadow: 0 1px 5px 0 rgba(7, 48, 207, .5);
  color: white;
  width: 225px;
  border-radius: 4px;
  padding: 8px 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=submit]:hover {
  cursor: pointer;
}

li {
  padding: 8px 2px;
  margin-left: 14px;
  list-style-type: circle;
}

ion-icon {
  padding-right: 5px;
  padding-bottom: 10px;
}

.error-message {
    color: #930008;
    padding: 0 6px 0 10px;
    font-size: 18px;
}

.hidden {
  display: none;
}

.next-venues-button {
  font-size: 16px;
  background: #ffffff;
  border: 2px solid silver;
  border-radius: 4px;
  padding: 8px 16px;
  margin-bottom: 16px;
  margin-top: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.next-venues-button:hover {
  cursor: pointer;
}

.subtext {
  font-size: 16px;
  color: gray;
  font-style: italic;
}

.bold {
  font-weight: 500;
}

.block {
  display: block;
}

.lighter {
  font-weight: lighter;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

#results-list {
  padding: 0;
}



/*---css for tablets---*/
@media only screen and (min-width: 600px) {

  body {
    width: 80vw;
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }

  header {
    border: 5px solid rgba(255, 255, 255, .1);

  }

  input {
    width: 90%;
  }

  h1 {
    font-size: 29px;
  }

  label, input, {
    font-size: 20px;
  }

  input[type=submit] {
    width: 250px;
  }

  .container {
    margin-top: 40px;
    padding: 50px;
  }

  .error-message {
    font-size: 22px;
  }
}

/*---css for laptops---*/
@media only screen and (min-width: 1200px) {
  body {
    max-width: 800px;
    margin: auto;
  }

  .container {
    margin-top: 60px;
    padding: 60px;
  }

}
